#network {
    position: relative;
    background: $red;
    height: 600px;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        min-height: 100%;
        padding: 10% 0;
        @include background-image(linear-gradient(rgba(241, 88, 62, 1), rgba(241, 88, 62, 0)));
    }

    blockquote,
    blockquote p {
        border: none;
        color: $white;
        font-size: 36px;

    }
}
