body.post-type-archive-project #hero h1 {
    @include respond-to(tablet) {
        font-size: 42px;
    }
}

.project-excerpt {
    display: block;
    padding-top: 70%;
    position: relative;
    overflow: hidden;
    background: $light-grey;
    margin-bottom: 2em;
    @include border-radius(3px);
    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.15));

    img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        border-bottom: 1px solid darken($light-grey, 10%);
    }

    h2 {
        margin: 0;
        padding: 1em;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: $bold;
    }
}

html.js.csstransforms .project-excerpt {
    @include transition(all 0.85s);
    @include opacity(0);
    @include transform(scale(1.25) translateY(100px));

    &.show {
        top: 0;
        @include opacity(1);
        @include transform(scale(1) translateY(0));
    }

    &:hover {
        @include transition(all 0.35s);
        @include transform(scale(1.1));
    }
}

body.single-project {
    #content {
        @include respond-to(desktop) {
            padding-top: 60px;
        }
    }
    .mfp-image-holder .mfp-content {
        max-width: 90%;
    }

    .mfp-arrow {
        position: fixed;
    }
}

.project-heading {
    margin-bottom: 2em;
}

.project-meta {
    font-size: 16px;

    strong {
        text-transform: uppercase;
        font-weight: $bold;
    }

    .meta-spacer {
        display: inline-block;
        margin: 0 1em;
    }
}

.project-images {
    img {
        display: block;
        margin-bottom: 2em;
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.15));
    }
}

html.js.csstransforms .project-images img {
    @include transition(all 0.25s);

    &:hover {
        @include transform(scale(1.05));
    }
}

#project-pagination {
    background: $black;
    color: $white;
    overflow: hidden;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    a {
        position: relative;
        display: block;
        color: $white;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    a.btn {
        display: inline-block;
        border: 2px solid $white;
        @include border-radius(5px);
        @include transition(all 0.25s);

        &:hover {
            background: $white;
            color: $red;
        }

        span {
            display: none;
            @include transition(none !important);

            @include respond-to(tablet) {
                display: inline-block;
            }
        }
    }

    img {
        display: inline-block;
        max-width: 100px;
        margin-bottom: 1em;

        @include respond-to(tablet) {
            margin-bottom: 0;
        }

        @include respond-to(desktop) {
            max-width: 200px;
        }
    }

    h3 {
        margin: 0;
        color: darken($light-grey, 10%);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: $bold;
    }

    strong {
        display: block;
    }

    p {
        font-size: 16px;
    }

    .next {
        text-align: right;

        img {
            @include respond-to(tablet) {
                float: right;
                margin-left: 1em;
            }
        }
    }

    .previous {
        img {
            @include respond-to(tablet) {
                float: left;
                margin-right: 1em;
            }
        }
    }
}

html.js.csstransforms #project-pagination {
    * {
        @include transition(all 0.75s);
    }

    a {
        @include opacity(0);
        @include transform(translateY(200px));
    }

    h3, strong, p {
        @include transform(translateX(-100px));
    }

    .next {
        h3, strong, p {
            @include transform(translateX(100px));
        }
    }

    &.show {
        a {
            @include opacity(1);
            @include transform(translateY(0));
        }

        h3, strong, p {
            @include transform(translateX(0));
        }
    }
}
