body.post-type-archive-project {
    h1 {
        text-align: center;
    }
}

.project-excerpt {
    position: relative;
    overflow: hidden;
    background: $light-grey;
    margin-bottom: 2em;
    @include border-radius(3px);
    @include box-shadow(0 0 3px rgba(0, 0, 0, 0.15));

    img {
        display: block;
        border-bottom: 1px solid darken($light-grey, 10%);
    }

    h2 {
        margin: 0;
        padding: 1em;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: $bold;
    }
}

html.js.csstransforms3d .project-excerpt {
    @include transition(all 0.5s);
    @include opacity(0);
    @include transform(scale(1.25) translateY(100px));

    &.show {
        top: 0;
        @include opacity(1);
        @include transform(scale(1) translateY(0));
    }

    &:hover {
        @include transition(all 0.25s);
        @include transform(scale(1.1));
    }
}

body.single-project {
    #content {
        text-align: center;
    }

    .mfp-image-holder .mfp-content {
        max-width: 90%;
    }

    .mfp-arrow {
        position: fixed;
    }
}

.project-heading {
    margin-bottom: 2em;
}

.project-meta {
    font-size: 16px;

    strong {
        text-transform: uppercase;
        font-weight: $bold;
    }

    .meta-spacer {
        display: inline-block;
        margin: 0 1em;
    }
}

.project-images {
    img {
        display: block;
        margin-bottom: 2em;
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.15));
    }
}

html.js.csstransforms3d .project-images img {
    @include transition(all 0.25s);

    &:hover {
        @include transform(scale(1.05));
    }
}
