#cta {
    padding: 30px;
    background: $black;
    color: $white;

    h3 {
        margin: 0;
        text-align: center;
    }

    a, a:visited, a:hover {
        color: $white;
    }

    a.btn {
        display: inline-block;
        margin: 0.5em;
        border: 2px solid $white;
        @include border-radius(5px);
        @include transition(all 0.25s);

        @include respond-to(tablet) {
            margin: 1em;
        }

        &:hover {
            background: $white;
            color: $red;
        }
    }

    br {
        display: block;

        @include respond-to(desktop) {
            display: none;
        }
    }

    .or {
        display: none;

        @include respond-to(tablet) {
            display: inline;
        }
    }
}

.service {
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 18px;
        font-weight: $bold;
        color: $red;
        text-transform: uppercase;
    }

    h2 {
        font-size: 24px;
        font-weight: $bold;
    }

    ul {
        margin: 1em 0 0 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 1em;
            font-weight: $bold;

            a {
                color: $black;
            }
        }
    }
}

#rwd {
    background: #ededee;

    @include respond-to(tablet) {
        background: #ededee url('../images/service-rwd.jpg') 50% 50% no-repeat;
    }
}

#cms {
    background: $white;

    @include respond-to(tablet) {
        background: $white url('../images/service-cms.jpg') 50% 0 no-repeat;
        @include background-size(cover);

        .col-sm-6 {
            padding-left: 80px;
        }
    }


    @include respond-to(desktop) {
        .col-sm-6 {
            padding-left: 0;
        }
    }
}

#app {
    background: #ededee;

    @include respond-to(tablet) {
        background: #ededee url('../images/service-app.jpg') 25% 50% no-repeat;
        @include background-size(cover);
    }

    @include respond-to(widescreen) {
        background-position: 100% 50%;
    }
}
