$red:              #f1583f;
$white:            #ffffff;
$light-grey:       #f1f1f2;
// $light-grey:       #e8e9ed;
$black:            #4b4d58;

$vertical-padding: 50px;

$regular:          400;
$medium:           500;
$bold:             700;
