@import 'compass/css3';
@import 'variables';
@import 'mixins';

body {
    font-family: 'effra', sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    color: $black;
}

body > header {
    padding: 35px 0;
    background: $red;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

body > footer {
    padding: $vertical-padding 0;
    background: $black;
    color: $white;
}

#logo {
    display: block;
    text-align: center;

    @include respond-to(tablet) {
        text-align: left;
    }

    img {
        height: 30px;
    }
}

#menu {
    margin: 0;
    padding: 0;
    text-align: center;

    @include respond-to(tablet) {
        text-align: right;
    }

    li {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;

        a,
        a:visited {
            text-transform: uppercase;
            font-weight: $bold;
            color: $white;
            font-size: 1.1em;
            letter-spacing: 1px;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

#hero {
    padding: 50px 0;
    background: $red;
    color: $white;

    h1 {
        font-weight: $bold;
    }

    p {
        font-size: 22px;
    }

    a {
        margin-right: 1em;
        margin-top: 1em;
        border: 2px solid $white;
        color: $white;
    }
}

#content {
    position: relative;
    padding: 40px 0;

    @include respond-to(tablet) {
        padding: 60px 0;
    }

    @include respond-to(desktop) {
        padding: 100px 0;
    }
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'effra', sans-serif;

    &:first-child {
        margin-top: 0;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 1px;
}

// Homepage

body.home {
    #hero {
        min-height: 400px;
        overflow: hidden;

        h1 {
            @include respond-to(tablet) {
                font-size: 48px;
            }

            @include respond-to(desktop) {
                font-size: 42px;
            }

            @include respond-to(widescreen) {
                font-size: 54px;
            }
        }
    }

    #phone {
        margin-top: 2em;
        margin-bottom: -25%;

        @include respond-to(desktop) {
            margin-top: -2em;
            position: absolute;
            max-width: none;
        }
    }

    #content {
        margin-top: 30px;
        padding-top: 30px;

        @include respond-to(desktop) {
            margin-top: 50px;
        }

        &:before {
            content: " ";
            display: block;
            width: 4px;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -2px;
            background: $light-grey;
        }

        &:after {
            content: " ";
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -20px;
            background: transparent url('../images/clock.png') 0 0;
        }

        h2 {
            position: relative;
            z-index: 1;
            padding: 1em 0;
            margin-bottom: 1em;
            text-align: center;
            font-weight: $regular;
            @include background(linear-gradient(top, rgba(255, 255, 255, 0), $white, rgba(255, 255, 255, 0)));

            @include respond-to(tablet) {
                font-size: 42px;
            }

            @include respond-to(desktop) {
                font-size: 52px;
            }

            @include respond-to(widescreen) {
                font-size: 62px;
            }
        }
    }
}

.testimonial {
    position: relative;
    z-index: 1;
    margin-bottom: 3em;
    clear: both;

    &:before {
        content: " ";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 50%;
        top: -38px;
        margin-right: -8px;
        @include border-radius(100%);
        background: $light-grey;
    }

    @include respond-to(tablet) {
        &:nth-child(even) {
            header {
                padding: 5px 185px 5px 1.5em;

                &:before {
                    content: "”";
                    left: auto;
                    right: 15px;
                }
            }

            img {
                float: right;
                margin-left: 0;
                margin-right: -105px;
            }
        }
    }

    @include respond-to(desktop) {
        width: 45%;
        margin-top: -200px;
        margin-bottom: 0;

        &:first-child {
            margin-top: 0;
        }

        &:nth-child(even) {
            float: right;

            &:before {
                right: auto;
                left: -55px;
            }

            header:after {
                left: auto;
                right: 100%;
                border-left-color: transparent;
                border-right-color: $red;
            }
        }

        &:before {
            right: -55px;
            top: 22px;
            margin-right: 0;
        }
    }

    @include respond-to(widescreen) {
        &:nth-child(even):before {
            right: auto;
            left: -65px;
        }

        &:before {
            right: -65px;
        }
    }

    header {
        position: relative;
        padding: 5px 1.5em 5px 120px;
        background: $red;
        color: $white;

        &:after {
            left: 50%;
            bottom: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: $red;
            border-width: 10px;
            margin-left: -10px;
        }

        a,
        a:visited {
            color: $white;
        }

        .name {
            text-transform: uppercase;
            font-weight: $bold;
        }

        img {
            float: left;
            margin-left: -105px;
            margin-top: -16px;
            border: 3px solid $white;
            @include border-radius(100%);
        }

        @include respond-to(tablet) {
            padding-left: 185px;

            &:before {
                content: "“";
                display: block;
                position: absolute;
                left: 15px;
                top: -17px;
                font-size: 100px;
                font-family: sans-serif;
                font-weight: bold;
            }
        }

        @include respond-to(desktop) {
            &:after {
                left: 100%;
                top: 50%;
                bottom: auto;
                border-bottom-color: transparent;
                border-left-color: $red;
                margin-top: -10px;
                margin-left: 0;
            }
        }
    }

    blockquote {
        padding: 1.5em;
        background: $light-grey;
        border: none;
    }
}
