$red:              #E7231F;
$light-red:        #F07B61;
$white:            #FFFFFF;
$light-grey:       #F1F1F2;
$black:            #4B4D58;

$vertical-padding: 50px;

$regular:          400;
$medium:           500;
$bold:             700;
